.bus-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  
  .nav-buttons button {
    flex: 1;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border: none;
    background-color: #FFDFDE;
    color: #6A7BA2 ;
    border-radius: 8px;
    cursor: pointer;
  }

  .nav-buttons button:hover {
    background-color: #fcc9c7;
    color: #96ade2 ;
  }
  
  .swiper {
    width: 100%;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  
  .bus-card {
    width: 100%;
    height: 400px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #FFDFDE;
    color: #6A7BA2 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .bus-card ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    height: 300px;
    justify-content: center;
    }

  .bus-card li {
    list-style: none;
  }

  .bus-card li::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(bus.svg);
    background-repeat: no-repeat;
    background-position: left center;
  }

  .bus-time{
    display: flex;
    align-items: center;
  }

  .bus-time p{
    margin-left: 30px;
  }
  
  .bus-card h2{
    font-size: 1.50rem;
    margin-bottom: 0.5rem;
    color: #6A7BA2!important;
    margin-left: 20px;
  }

  .bus h2{
    color: #FFDFDE;
  }
  
.bus{
  justify-content: space-evenly;
}

.first-time{
  font-size: 1.25rem;
}


@media (max-width: 979px) {
  /* Styles for tablets and smaller screens */
  .nav-buttons {
    display: none;
  }

}

@media (max-width: 480px) {
  /* Styles for mobile phones and smaller screens */
}